# Notes: configuration for mysql 5.7 (MSR MySQL-3306 & ZFS MySQL-3310 & 3312)

#
# This section is common for all the servers
#
[mysqld_multi]
mysqld                          = /usr/bin/mysqld_safe
mysqladmin                      = /usr/bin/mysqladmin
user                            = root
log                             = /data1/logs/mysql_multi.log

[xtrabackup]
#target_dir 		               = /xtrabackup/data/Mon/restore/full-12-10-2018_21-53-15
host			                     = 127.0.0.1
datadir                        = /data1/data
port			                     = 3306

[mysql]
# CLIENT #
port                           = 3306
socket                         = /data1/mysqld.sock
default-character-set          = utf8mb4

[mysqld]
# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /data1/mysqld.sock
port			                     = 3306
explicit_defaults_for_timestamp = 1
pid-file                       = /data1/mysql.pid
tmpdir                         = /data1/tmp
read_only                      = 0
extra_port                     = 3307

# Character Set
init-connect                   = 'SET NAMES utf8mb4'
collation_server               = utf8mb4_unicode_ci
character_set_server           = utf8mb4
skip-character-set-client-handshake

# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000000
skip-name-resolve
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now                 = 1
#innodb                         = FORCE
innodb-strict-mode             = 1
innodb_autoinc_lock_mode       = 2

# DATA STORAGE - REALLY /data1 via symlink #
datadir                        = /data1/data
range_optimizer_max_mem_size   = 0

# CACHES AND LIMITS #
# for small instances
tmp-table-size                 = 500M
# for giant instances
# tmp-table-size               = 2500M
# for small instances
max-heap-table-size            = 500M
# for giant instances
# max-heap-table-size          = 2500M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 100
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 32768


# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
# changed b/c ebs does raid 1 under the hood
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb-lock-wait-timeout       = 3000
innodb-buffer-pool-instances   = 16
innodb_open_files              = 32768
innodb_io_capacity_max         = 10000
innodb_io_capacity             = 1800
#Not required anymore as this is defaults #InnoDB: Using innodb_file_format is deprecated and the parameter may be removed in future releases.
#innodb_file_format             = Barracuda


# LOGGING #
log-error                      = /data1/logs/mysql-error.log
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /data1/logs/mysql-slow.log
innodb_print_all_deadlocks     = 1
# slow_query_log_timestamp_always = ON
log_slow_admin_statements      = 0
binlog_cache_size              = 2M #used to be 500M
sync_binlog		       = 0

# Replication, GTID and Binary logging
log_slave_updates              = 1
log_bin                        = /data1/logs/binlog/mysql-binlog
skip_slave_start               = 0
log_bin_index                  = /data1/logs/binlog/mysql-binlog.index
relay_log                      = /data1/logs/relaylog/mysqld-relaylog
expire_logs_days               = 10
max_binlog_size                = 100M
binlog_row_image               = MINIMAL
binlog_format                  = ROW

# GTID Stuff - These have to be On / 1 to do replication
gtid_mode                      = On
enforce_gtid_consistency       = 1

# Timeout
wait_timeout                   = 3000
interactive_timeout            = 3000

#
# This section is for the specific server only
#
read_only                      = ON
transaction-isolation          = READ-UNCOMMITTED
server_id                      = 100111
innodb-buffer-pool-size        = 17G

relay_log_info_repository='TABLE'
relay_log_recovery='ON'
master_info_repository='TABLE'
#
#
# Settings for MySQLD Multi- Daemon running on ZFS File System
#

[mysqld2]
port                           = 3310
# GENERAL #
#skip-grant-tables		         = 1
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /data2/mysqld.sock
explicit_defaults_for_timestamp = 1
pid-file                       = /data2/mysql.pid
tmpdir                         = /data2/tmp
read_only                      = 0
extra_port                     = 3311

# Character Set
init-connect                   = 'SET NAMES utf8mb4'
collation_server               = utf8mb4_unicode_ci
character_set_server           = utf8mb4
skip-character-set-client-handshake

# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000000
skip-name-resolve
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now                 = 1
#innodb                         = FORCE
innodb-strict-mode             = 1
innodb_autoinc_lock_mode       = 2

# DATA STORAGE - REALLY /data1 via symlink #
datadir                        = /data2/data
###############
innodb_doublewrite              = 0
innodb_checksum_algorithm       = none
###############
range_optimizer_max_mem_size   = 0

# CACHES AND LIMITS #
# for small instances
tmp-table-size               = 500M
# for giant instances
# tmp-table-size                 = 2500M
# for small instances
max-heap-table-size          = 500M
# for giant instances
# max-heap-table-size            = 2500M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 100
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 32768


# INNODB #
# ZFS I used does not support AIO , so needed for setting up MySQL on ZFS FS
innodb_use_native_aio		        = 0
#innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
# changed b/c ebs does raid 1 under the hood
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb-lock-wait-timeout       = 3000
innodb-buffer-pool-instances   = 16
innodb_open_files              = 32768
innodb_io_capacity_max         = 10000
innodb_io_capacity             = 1800
#Not required anymore as this is defaults #InnoDB: Using innodb_file_format is deprecated and the parameter may be removed in future releases.
#innodb_file_format             = Barracuda


# LOGGING #
log-error                      = /data2/logs/mysql-error.log
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /data2/logs/mysql-slow.log
innodb_print_all_deadlocks     = 1
# slow_query_log_timestamp_always = ON
log_slow_admin_statements      = 0
binlog_cache_size              = 2M #used to be 500M
sync_binlog		       = 0

# Replication, GTID and Binary logging
log_slave_updates              = 1
log_bin                        = /data2/logs/binlog/mysql-binlog
skip_slave_start               = 1
log_bin_index                  = /data2/logs/binlog/mysql-binlog.index
relay_log                      = /data2/logs/relaylog/mysqld-relaylog
expire_logs_days               = 1
max_binlog_size                = 100M
binlog_row_image               = MINIMAL
binlog_format                  = ROW

# GTID Stuff - These have to be On / 1 to do replication
gtid_mode                      = On
enforce_gtid_consistency       = 1

# Timeout
wait_timeout                   = 3000
interactive_timeout            = 3000

#
# This section is for the specific server only
#
read_only                      = ON
transaction-isolation          = READ-UNCOMMITTED
server_id                      = 3310
innodb-buffer-pool-size        = 17G

relay_log_info_repository='TABLE'
relay_log_recovery='ON'
master_info_repository='TABLE'


[mysqld3]
port                           = 3312
# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /data3/mysqld.sock
explicit_defaults_for_timestamp = 1
pid-file                       = /data3/mysql.pid
tmpdir                         = /data3/tmp
# Go as fast as possible with as little rollback stowage as possible
read_only                      = 0
extra_port                     = 3313

# Character Set
init-connect                   = 'SET NAMES utf8mb4'
collation_server               = utf8mb4_unicode_ci
character_set_server           = utf8mb4
skip-character-set-client-handshake

# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000000
skip-name-resolve
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now                 = 1
#innodb                         = FORCE
innodb-strict-mode             = 1
innodb_autoinc_lock_mode       = 2

# DATA STORAGE - REALLY /data1 via symlink #
datadir                        = /data3/data
###############
innodb_doublewrite              = 0
innodb_checksum_algorithm       = none
###############
range_optimizer_max_mem_size   = 0

# CACHES AND LIMITS #
# for small instances
tmp-table-size                 = 500M
# for giant instances
# tmp-table-size               = 2500M
# for small instances
max-heap-table-size            = 500M
# for giant instances
# max-heap-table-size          = 2500M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 1000
thread-cache-size              = 100
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 32768


# INNODB #
# ZFS I used does not support AIO , so needed for setting up MySQL on ZFS FS
innodb_use_native_aio		= 0
#innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
# changed b/c ebs does raid 1 under the hood
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb-lock-wait-timeout       = 3000
innodb-buffer-pool-instances   = 16
innodb_open_files              = 32768
innodb_io_capacity_max         = 10000
innodb_io_capacity             = 1800
#Not required anymore as this is defaults #InnoDB: Using innodb_file_format is deprecated and the parameter may be removed in future releases.
#innodb_file_format             = Barracuda


# LOGGING #
log-error                      = /data3/logs/mysql-error.log
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /data3/logs/mysql-slow.log
innodb_print_all_deadlocks     = 1
# slow_query_log_timestamp_always = ON
log_slow_admin_statements      = 0
binlog_cache_size              = 2M #used to be 500M
sync_binlog		                 = 0

# Replication, GTID and Binary logging
log_slave_updates              = 1
log_bin                        = /data3/logs/binlog/mysql-binlog
skip_slave_start               = 1
log_bin_index                  = /data3/logs/binlog/mysql-binlog.index
relay_log                      = /data3/logs/relaylog/mysqld-relaylog
expire_logs_days               = 1
max_binlog_size                = 100M
binlog_row_image               = MINIMAL
binlog_format                  = ROW

# GTID Stuff - These have to be On / 1 to do replication
gtid_mode                      = On
enforce_gtid_consistency       = 1

# Timeout
wait_timeout                   = 3000
interactive_timeout            = 3000

#
# This section is for the specific server only
#
read_only                      = ON
transaction-isolation          = READ-UNCOMMITTED
server_id                      = 3312
innodb-buffer-pool-size        = 13G


relay_log_info_repository='TABLE'
relay_log_recovery='ON'
master_info_repository='TABLE'

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
